#define WIN32_LEAN_AND_MEAN
#include <windows.h>
#include "resource.h"
#define NG_DS_3DLOOK	DS_3DLOOK

AboutBox DIALOG 40, 41, 206, 119
STYLE DS_MODALFRAME | 0x4L | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU
CAPTION "About the OpenSceneGraph Export Plug-In"
FONT 8, "HELV"
{
 CONTROL "", -1, "static", SS_WHITERECT | WS_CHILD | WS_VISIBLE | WS_BORDER, 12, 13, 182, 63
 CTEXT "ISU OpenSceneGraph Export Plugin", -1, 23, 20, 160, 10, SS_CENTER | WS_BORDER | WS_GROUP
 CTEXT "By Paul Martz", -1, 71, 31, 63, 8
 LTEXT "Copyright (c) 2008 Skew Matrix Software LLC.", -1, 29, 42, 163, 8
 LTEXT "Portions Copyright (c) 2006 Okino Computer Graphics, Inc.", -1, 14, 53, 185, 8
 LTEXT "All Rights Reserved.", -1, 69, 64, 68, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 DEFPUSHBUTTON "&OK", IDOK, 45, 89, 52, 18, BS_DEFPUSHBUTTON | WS_TABSTOP
 PUSHBUTTON "&Help", IDD_BUTTON_HELP, 108, 89, 52, 18
}

OptionsDialogOSG1 DIALOG 75, 67, 216, 217
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "OSG"
FONT 8, "Helv"
{
 GROUPBOX "", -1, 10, 5, 196, 188, BS_GROUPBOX
 CHECKBOX "Strip texture file name paths", IDD_OSG_STRIP_TEXTURE_PATHS, 24, 16, 156, 12
 CHECKBOX "Normalization", IDD_OSG_NORMALIZATION, 24, 28, 156, 12
 CHECKBOX "Backface culling", IDD_OSG_BACKFACE_CULLING, 24, 40, 156, 12
 CHECKBOX "Write debug text file", IDD_OSG_DEBUG_TEXT_FILE, 24, 52, 156, 12
 PUSHBUTTON "&Reset", IDD_BUTTON_RESET, 101, 198, 50, 14
 PUSHBUTTON "&About", IDD_BUTTON_ABOUT, 156, 198, 50, 14
}

OptionsDialogOSG2 DIALOG 75, 67, 216, 217
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Optimizer"
FONT 8, "Helv"
{
 GROUPBOX "", -1, 10, 5, 196, 188, BS_GROUPBOX
 CHECKBOX "Run osgUtil::Optimizer", IDD_OSG_RUN_OPTIMIZER, 24, 16, 156, 10
 CHECKBOX "Create triangle strips", IDD_OSG_CREATE_TRIANGLE_STRIPS, 36, 28, 156, 12
 CHECKBOX "Merge Geometry", IDD_OSG_MERGE_GEOMETRY, 36, 40, 156, 12
 PUSHBUTTON "&Reset", IDD_BUTTON_RESET, 101, 198, 50, 14
 PUSHBUTTON "&About", IDD_BUTTON_ABOUT, 156, 198, 50, 14
}

OptionsDialogEnablesPanel1 DIALOG 75, 67, 216, 217
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Enables Panel # 1"
FONT 8, "Helv"
{
 GROUPBOX "", -1, 10, 5, 196, 188, BS_GROUPBOX
 CHECKBOX "Output mesh data", IDD_EXPORTER_ENA_MESHDATA, 24, 16, 76, 10
 CHECKBOX "Output vertex normals ", IDD_EXPORTER_ENA_VERTEX_NORMALS, 36, 28, 83, 12
 CHECKBOX "Output u,v texture map coordinates", IDD_EXPORTER_ENA_TEXTURE_COORDS, 36, 40, 125, 12
 CHECKBOX "Output vertex colors (if available)", IDD_EXPORTER_OUTPUT_VERTEX_COLORS, 36, 53, 117, 9
 CHECKBOX "Output vertex UV tangent coordinates", IDD_EXPORTER_OUTPUT_UV_TANGENTS, 36, 64, 135, 11
 CHECKBOX "Output NURBS surfaces (patches)", IDD_EXPORTER_ENA_NURBS_PATCHES, 24, 94, 123, 12
 CHECKBOX "Output NURBS as polygon meshes", IDD_EXPORTER_NURBS_AS_POLYGONS, 36, 106, 125, 12
 CHECKBOX "Output NURBS trim curves", IDD_EXPORTER_OUTPUT_TRIM_CURVES, 48, 118, 101, 12
 CHECKBOX "Output materials ('surface' definitions)", IDD_EXPORTER_OUTPUT_MATERIALS, 24, 135, 134, 12
 CHECKBOX "Output texture layer information", IDD_EXPORTER_OUTPUT_SURFTXTR_LAYERS, 36, 148, 112, 12
 PUSHBUTTON "&Reset", IDD_BUTTON_RESET, 101, 198, 50, 14
 PUSHBUTTON "&About", IDD_BUTTON_ABOUT, 156, 198, 50, 14
 CHECKBOX "Output bone deformation skinning weights", IDD_EXPORTER_OUTPUT_MESH_SKINNING_WEIGHTS, 36, 77, 149, 11
 CHECKBOX "Output line sets", IDD_EXPORTER_ENA_LINE_SETS, 24, 164, 66, 12
 CHECKBOX "Output 3D point sets", IDD_EXPORTER_ENA_POINT_SETS, 91, 164, 82, 12
}

OptionsDialogEnablesPanel2 DIALOG 25, 91, 216, 217
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Enables Panel # 2"
FONT 8, "Helv"
{
 CHECKBOX "Output instance attributes", IDD_EXPORTER_OUTPUT_INST_ATTR, 23, 17, 97, 12
 CHECKBOX "Output texture projection information", IDD_EXPORTER_OUTPUT_TXTR_PROJ_INFO, 23, 32, 132, 12
 CHECKBOX "Output Cameras", IDD_EXPORTER_ENA_CAMERAS, 23, 51, 66, 10
 CHECKBOX "Output Lights", IDD_EXPORTER_ENA_LIGHTS, 23, 66, 56, 10
 CHECKBOX "Output hierarchy information", IDD_EXPORTER_ENA_HIERARCHY, 23, 83, 163, 10
 CHECKBOX "Use geometry instancing to reduce file size", IDD_EXPORTER_ENA_INSTANCING, 23, 99, 152, 11
 CHECKBOX "Output environment information", IDD_EXPORTER_OUTPUT_ENVIRON_INFO, 23, 115, 114, 12
 CHECKBOX "Output background color scheme information", IDD_EXPORTER_OUTPUT_BACKGROUND_INFO, 23, 131, 156, 12
 CHECKBOX "Output texture definition information", IDD_EXPORTER_OUTPUT_TXTR_DEFNS, 23, 151, 126, 12
 CHECKBOX "Output bicubic patches", IDD_EXPORTER_ENA_BICUBIC_PATCHES, 23, 170, 92, 12
 PUSHBUTTON "&Reset", IDD_BUTTON_RESET, 101, 198, 50, 14
 PUSHBUTTON "&About", IDD_BUTTON_ABOUT, 156, 198, 50, 14
 GROUPBOX "", -1, 10, 5, 196, 188, BS_GROUPBOX
}

OptionsDialogCurvePanel DIALOG  25, 91, 216, 217
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Curve Output Options"
FONT 8, "Helv"
{
 GROUPBOX "", -1, 10, 5, 196, 188, BS_GROUPBOX
 CHECKBOX "Output independent 3D NURBS curves", IDD_EXPORTER_ENA_3D_CURVES, 19, 13, 139, 12
 LTEXT "If 'renderable flag' enabled in NURBS curve primitive:", IDD_EXPORTER_RENDERABLE_NURBS_TXT, 31, 29, 171, 8
 COMBOBOX IDD_EXPORTER_RENDERABLE_NURBS_COMBO, 31, 40, 166, 207, CBS_DROPDOWNLIST | WS_TABSTOP
 LTEXT "If 'renderable flag' not enabled:", IDD_EXPORTER_NON_RENDERABLE_NURBS_TXT, 31, 56, 100, 8
 COMBOBOX IDD_EXPORTER_NON_RENDERABLE_NURBS_COMBO, 31, 66, 166, 171, CBS_DROPDOWNLIST | WS_TABSTOP
 CHECKBOX "Output independent 3D spline shapes", IDD_EXPORTER_ENA_3D_SPLINE_SHAPES, 19, 83, 134, 12
 LTEXT "If 'renderable flag' enabled in spline shape primitive:", IDD_EXPORTER_RENDERABLE_SPLINESHAPE_TXT, 31, 99, 163, 8
 COMBOBOX IDD_EXPORTER_RENDERABLE_SPLINESHAPE_COMBO, 31, 110, 166, 148, CBS_DROPDOWNLIST | WS_TABSTOP
 LTEXT "If 'renderable flag' not enabled:", IDD_EXPORTER_NON_RENDERABLE_SPLINESHAPE_TXT, 31, 126, 100, 8
 COMBOBOX IDD_EXPORTER_NON_RENDERABLE_SPLINESHAPE_COMBO, 31, 136, 166, 132, CBS_DROPDOWNLIST | WS_TABSTOP
 CONTROL "", IDD_EXPORTER_SPLINE_TO_SPLINE_TXT1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 20, 155, 176, 2
 LTEXT "Spline curve output type:", IDD_EXPORTER_SPLINE_TO_SPLINE_CURVES_TXT, 19, 167, 81, 8
 COMBOBOX IDD_EXPORTER_SPLINE_TO_SPLINE_CONVERSION_TYPE_COMBO, 101, 165, 96, 144, CBS_DROPDOWNLIST | WS_TABSTOP
 PUSHBUTTON "&Reset", IDD_BUTTON_RESET, 101, 198, 50, 14
 PUSHBUTTON "&About", IDD_BUTTON_ABOUT, 156, 198, 50, 14
}

OptionsDialogMeshProcessingPanel DIALOG 169, 85, 216, 217
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Mesh Processing Options"
FONT 8, "Helv"
{
 GROUPBOX "Mesh Processing Options", IDD_EXPORTER_MESH_PROCESS_GRP1, 10, 5, 196, 188, BS_GROUPBOX
 CHECKBOX "Always add vertex normals if none defined", IDD_EXPORTER_MESH_PROCESS_ALWAYS_ADD_VERTE_NORMALS, 26, 52, 152, 12
 CHECKBOX "Optimize texture coordinate list", IDD_EXPORTER_MESH_PROCESS_OPTIMIZE_TXTR_COORD_LIST, 26, 65, 134, 12
 CHECKBOX "Duplicate vertices for uv texture mapping", IDD_EXPORTER_MESH_PROCESS_DUPL_VERT_FOR_UV_TEXTURE_MAPPING, 26, 77, 150, 12
 CHECKBOX "Explode meshes by assigned material names", IDD_EXPORTER_MESH_PROCESS_EXPLODE_MESHES_BY_MAT_NAME, 26, 90, 153, 12
 CHECKBOX "Sort polygons by assigned material name", IDD_EXPORTER_MESH_PROCESS_SORT_POLYS_BY_MATERIAL_NAME, 26, 102, 153, 12
 CHECKBOX "Transform meshes to world space coordinates", IDD_EXPORTER_MESH_PROCESS_TRANSFORM_TO_WORLDSPACE, 26, 164, 157, 12
 PUSHBUTTON "&Reset", IDD_BUTTON_RESET, 101, 198, 50, 14
 PUSHBUTTON "&About", IDD_BUTTON_ABOUT, 156, 198, 50, 14
 CHECKBOX "Enable polygon reduction", IDD_EXPORTER_ENA_POLYGON_REDUCTION, 26, 177, 97, 11
 PUSHBUTTON "Set Options...", IDD_EXPORTER_ENA_POLYGON_REDUCTION_OPTIONS, 122, 176, 53, 12
 CHECKBOX "Want planar polygons only. Tolerance = ", IDD_EXPORTER_MESH_PROCESS_PLANAR_ONLY, 26, 114, 140, 12
 EDITTEXT IDD_EXPORTER_MESH_PROCESS_PLANAR_ONLY_TOLERANCE, 165, 114, 34, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
}

OptionsDialogBitmapConversionPanel DIALOG 161, 91, 216, 217
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Bitmap Conversion Options"
FONT 8, "Helv"
{
 GROUPBOX "", -1, 10, 5, 196, 188, BS_GROUPBOX
 RADIOBUTTON "No bitmap conversion or bitmap filename changes", IDD_EXPORTER_DONT_DO_ANY_CONVERSIONS_RB, 16, 18, 176, 12
 RADIOBUTTON "Convert all bitmap file extensions to:", IDD_EXPORTER_CONVERT_BITMAP_FILE_XTNS_RB, 16, 32, 128, 12
 COMBOBOX IDD_EXPORTER_FILE_EXTENSIONS, 144, 32, 50, 185, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 RADIOBUTTON "Auto-convert bitmap files to another format:", IDD_EXPORTER_CONVERT_TXTR_BITMAPS_RB, 16, 46, 148, 12
 LTEXT "Bitmap format:", IDD_EXPORTER_AUTO_CONVERT_TXT1, 23, 63, 48, 8
 COMBOBOX IDD_EXPORTER_BITMAP_FORMAT_COMBO, 79, 61, 86, 204, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 LTEXT "Bitmap bits/pixel:", IDD_EXPORTER_AUTO_CONVERT_TXT2, 23, 80, 54, 8
 COMBOBOX IDD_EXPORTER_BITMAP_BITSPERPIXEL_COMBO, 79, 78, 45, 142, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 LTEXT "Dimensions:", IDD_EXPORTER_AUTO_CONVERT_TXT3, 23, 97, 40, 8
 LTEXT "X:", IDD_EXPORTER_AUTO_CONVERT_TXT4, 66, 97, 7, 8
 COMBOBOX IDD_EXPORTER_TXTR_X_RES_COMBO, 74, 95, 56, 124, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 LTEXT "Y:", IDD_EXPORTER_AUTO_CONVERT_TXT5, 132, 97, 8, 8
 COMBOBOX IDD_EXPORTER_TXTR_Y_RES_COMBO, 140, 95, 56, 119, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 CHECKBOX "Confirm potential bitmap file overwrites", IDD_EXPORTER_CONFIRM_BITMAP_OVERWRITES, 24, 112, 139, 10
 LTEXT "Save converted bitmaps to:", IDD_EXPORTER_AUTO_CONVERT_TXT6, 24, 126, 90, 8
 RADIOBUTTON "Directory where geometry is being exported", IDD_EXPORTER_SAVEBITMAPSTO_ORIGINAL_DIR_RB, 33, 138, 150, 8, BS_RADIOBUTTON | WS_TABSTOP
 RADIOBUTTON "Specific:", IDD_EXPORTER_SAVEBITMAPSTO_SPECIFIC_RB, 33, 152, 40, 8
 EDITTEXT IDD_EXPORTER_SAVEBITMAPSTO_SPECIFIC_EDIT, 74, 150, 88, 12, ES_AUTOHSCROLL | ES_READONLY | WS_BORDER | WS_TABSTOP | WS_GROUP
 PUSHBUTTON "&Browse", IDD_EXPORTER_SAVEBITMAPSTO_SPECIFIC_BROWSE, 164, 150, 36, 13
 LTEXT "NOTE: If bitmaps cannot be found, they will be searched", IDD_EXPORTER_AUTO_CONVERT_TXT7, 18, 169, 182, 8
 LTEXT "in the ""File/Configure Paths/Bitmaps"" dialog box.", IDD_EXPORTER_AUTO_CONVERT_TXT9, 42, 178, 156, 8
 PUSHBUTTON "&Reset", IDD_BUTTON_RESET, 101, 198, 50, 14
 PUSHBUTTON "&About", IDD_BUTTON_ABOUT, 156, 198, 50, 14
 PUSHBUTTON "Options", IDD_EXPORTER_BITMAP_FORMAT_OPTIONS_BUTTON, 168, 61, 32, 13
}

OptionsDialogBitmapFilePathPanel DIALOG  25, 91, 216, 217
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Bitmap Image File Path Options"
FONT 8, "Helv"
{
 GROUPBOX "", -1, 10, 5, 196, 188, BS_GROUPBOX
 CHECKBOX "Convert all file paths to RFC 1738 standard", IDD_EXPORTER_CONVERT_TO_RFC1738_PATHS, 20, 17, 149, 12
 CHECKBOX "Convert all file paths to UNIX format", IDD_EXPORTER_CONVERT_TO_UNIX_PATHS, 20, 32, 126, 10
 CHECKBOX "Strip file paths from all bitmap references", IDD_EXPORTER_STRIP_ABS_FILE_PATHS, 20, 46, 140, 10
 LTEXT "Replace all bitmap file paths with this absolute file path:", IDD_EXPORTER_PREPEND_WITH_SPECIFIC_FILEPATH, 20, 78, 179, 8
 EDITTEXT IDD_EXPORTER_PREPEND_SPECIFIC_FILEPATH_EDIT, 20, 89, 140, 12, ES_AUTOHSCROLL | ES_READONLY | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "&Browse...", IDD_EXPORTER_PREPEND_SPECIFIC_FILEPATH_BROWSE, 164, 88, 38, 14
 LTEXT "Replace all bitmap file paths with this relative file path:", IDD_EXPORTER_PREPEND_WITH_RELATIVE_FILEPATH, 20, 106, 172, 8
 EDITTEXT IDD_EXPORTER_PREPEND_RELATIVE_FILEPATH_EDIT, 20, 117, 140, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Replace all bitmap file paths with this URL address:", IDD_EXPORTER_PREFIX_URL_TXT, 20, 134, 175, 8
 EDITTEXT IDD_EXPORTER_URL_EDIT, 20, 145, 140, 12, WS_BORDER | WS_TABSTOP
 CHECKBOX "Use absolute paths for all bitmap references", IDD_EXPORTER_USE_ABSOLUTE_FILE_PATHS, 20, 59, 154, 12
 PUSHBUTTON "&Reset", IDD_BUTTON_RESET, 101, 198, 50, 14
 PUSHBUTTON "&About", IDD_BUTTON_ABOUT, 156, 198, 50, 14
}

OptionsDialogAnimationExportPanel DIALOG 222, 93, 216, 217
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Animation Export Options"
FONT 8, "Helv"
{
 GROUPBOX "", -1, 10, 5, 196, 188, BS_GROUPBOX
 GROUPBOX "Animation Export Enables", -1, 16, 13, 183, 40, BS_GROUPBOX
 CHECKBOX "Object animation", IDD_EXPORTER_ENA_OBJECT_ANIMATION, 31, 25, 68, 8
 CHECKBOX "Light animation", IDD_EXPORTER_ENA_LIGHT_ANIMATION, 114, 25, 61, 8
 CHECKBOX "Camera animation ", IDD_EXPORTER_ENA_CAMERA_ANIMATION, 31, 38, 69, 8
 CHECKBOX "Material animation", IDD_EXPORTER_ENA_MATERIAL_ANIMATION, 114, 38, 71, 8
 LTEXT "Keyframe export methods:", -1, 17, 57, 104, 8
 RADIOBUTTON "Export raw, unsampled keyframe data (if possible)", IDD_EXPORTER_ANIM_EXPORT_RAW_KEYFRAMES_RB, 23, 68, 170, 9
 RADIOBUTTON "Resample keyframe data (most dependable)", IDD_EXPORTER_ANIM_EXPORT_RESAMPLED_KEYFRAMES_RB, 23, 80, 153, 10
 CHECKBOX "Export as separate 3 channel lists", IDD_EXPORTER_ANIM_EXPORT_TRIPLE_CHANNELS_AS_SEP_CTRLS, 33, 93, 120, 9
 LTEXT "Interpolation method:", IDD_EXPORTER_ANIM_FRAME_TXT3, 33, 108, 70, 8
 COMBOBOX IDD_EXPORTER_ANIM_EXPORT_DEFAULT_INTERP_METHOD, 114, 106, 72, 106, CBS_DROPDOWNLIST | WS_TABSTOP
 LTEXT "Rotation controller type:", IDD_EXPORTER_ANIM_FRAME_TXT4, 33, 123, 77, 8
 COMBOBOX IDD_EXPORTER_ANIM_EXPORT_DEFAULT_ROT_CNTRL, 114, 121, 72, 90, CBS_DROPDOWNLIST | WS_TABSTOP
 LTEXT "Euler rotation order:", IDD_EXPORTER_ROT_ORDER_TXT1, 33, 138, 64, 8
 COMBOBOX IDD_EXPORTER_ROT_ORDER_COMBO, 114, 136, 43, 130, CBS_DROPDOWNLIST | WS_TABSTOP
 LTEXT "Keyframe resampling && reduction options:", -1, 33, 171, 132, 8
 PUSHBUTTON "Change", IDD_RESAMPLING_AND_REDUCTION_OPTIONS_BUTTON, 166, 168, 35, 14
 LTEXT "Note: If an animated object appears to 'jitter' or to not", -1, 240, -13, 170, 8
 LTEXT "move smoothly then disable the 'Remove Redundant'", -1, 237, -5, 175, 8
 LTEXT "option or set the theshold value(s) to 0.0001.", -1, 251, 3, 147, 8
 PUSHBUTTON "&Reset", IDD_BUTTON_RESET, 101, 198, 50, 14
 PUSHBUTTON "&About", IDD_BUTTON_ABOUT, 156, 198, 50, 14
 CHECKBOX "Fix up -180/180 Euler 'flips' (maintain continuity)", IDD_EXPORTER_FIX_UP_EULER_180_ROT_FLIPS, 33, 154, 165, 10
}

#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version Information (to be stamped with stampver.exe in the Makefile.vc4
//
/////////////////////////////////////////////////////////////////////////////

#ifdef RC_INVOKED
#ifndef _INC_WINDOWS2
#define _INC_WINDOWS2
	#include "winres.h"
#endif
#endif

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif 

// Version numbers (3.0.0) are in form:
//	Major release 		(3)
//	Minor release 		(0)
//	One-off user fixes 	(0)

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 3, 0, 0, 0
 PRODUCTVERSION 3, 0, 0, 0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "Contact information: Email: info@oskew-matrix.com, WEB: http://www.skew-matrix.com, Phone: 303-859-9466.\0"
            VALUE "CompanyName", "Skew Matrix Software LLC\0"
            VALUE "FileDescription", "exp_isu_osg.dll - ISU-funded OpenSceneGraph export converter DLL\0"
            VALUE "FileVersion", "3, 0, 0, 0\0"
            VALUE "InternalName", "exp_isu_osg.dll\0"
            VALUE "LegalCopyright", "Copyright © 2008 Skew Matrix Software LLC, All Rights Reserved\0"
            VALUE "LegalTrademarks", "NuGraf, PolyTrans, Okino\0"
            VALUE "OriginalFilename", "exp_text.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "OpenSceneGraph export converter DLL\0"
            VALUE "ProductVersion", "3, 0, 0, 0\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    // !_MAC
