#define WIN32_LEAN_AND_MEAN
#include <windows.h>
#include "resource.h"
#define NG_DS_3DLOOK	DS_3DLOOK

AboutBox DIALOG 40, 41, 226, 200
STYLE DS_MODALFRAME | 0x4L | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU
CAPTION "About the OpenSceneGraph Export Plug-In"
FONT 8, "HELV"
{
 LTEXT "ISU OpenSceneGraph Export Plugin", -1, 10, 10, 160, 10
 LTEXT "vX.x", IDD_OSG_EXPORTER_VERSION, 20, 20, 63, 8
 LTEXT "By Paul Martz", -1, 20, 30, 63, 8

 LTEXT "Copyright (c) 2008-2011 Skew Matrix Software LLC.", -1, 10, 50, 163, 8
 LTEXT "Portions Copyright (c) 2006 Okino Computer Graphics, Inc.", -1, 10, 60, 185, 8
 LTEXT "All Rights Reserved.", -1, 10, 70, 68, 8

 LTEXT "To report an issue:", -1, 10, 90, 200, 8
 LTEXT "Email: pmartz@skew-matrix.com", -1, 20, 100, 200, 8
 LTEXT "Web: http://www.skew-matrix.com", -1, 20, 110, 200, 8

 DEFPUSHBUTTON "&OK", IDOK, 102, 172, 52, 18, BS_DEFPUSHBUTTON | WS_TABSTOP
 PUSHBUTTON "&Help", IDD_BUTTON_HELP, 164, 172, 52, 18
}

OptionsDialogOSG1 DIALOG 75, 67, 216, 130
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "OSG"
FONT 8, "Helv"
{
 GROUPBOX "", -1, 10, 5, 196, 101, BS_GROUPBOX
 CHECKBOX "Strip texture file name paths", IDD_OSG_STRIP_TEXTURE_PATHS, 24, 16, 156, 12
 CHECKBOX "Normalization", IDD_OSG_NORMALIZATION, 24, 28, 156, 12
 CHECKBOX "Backface culling", IDD_OSG_BACKFACE_CULLING, 24, 40, 156, 12
 CHECKBOX "Use buffer objects", IDD_OSG_USE_BUFFER_OBJECTS, 24, 52, 156, 12
 CHECKBOX "Write debug text file", IDD_OSG_DEBUG_TEXT_FILE, 24, 64, 156, 12
 CHECKBOX "Write hidden nodes", IDD_OSG_WRITE_HIDDEN_NODES, 24, 76, 156, 12
 CHECKBOX "Set diffuse/ambient white", IDD_OSG_DIFF_AMB_WHITE, 24, 88, 156, 12
 PUSHBUTTON "&Reset", IDD_BUTTON_RESET, 101, 111, 50, 14
 PUSHBUTTON "&About", IDD_BUTTON_ABOUT, 156, 111, 50, 14
}

OptionsDialogOSG2 DIALOG 75, 67, 216, 130
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Optimizer"
FONT 8, "Helv"
{
 GROUPBOX "", -1, 10, 5, 196, 101, BS_GROUPBOX
 CHECKBOX "Run osgUtil::Optimizer", IDD_OSG_RUN_OPTIMIZER, 24, 16, 156, 12
 CHECKBOX "Merge Geodes", IDD_OSG_MERGE_GEODES, 36, 28, 156, 12
 CHECKBOX "Share State", IDD_OSG_SHARE_STATE, 36, 40, 156, 12
 CHECKBOX "Merge Geometry", IDD_OSG_MERGE_GEOMETRY, 36, 52, 156, 12
 CHECKBOX "Create Triangle Strips", IDD_OSG_CREATE_TRIANGLE_STRIPS, 36, 64, 156, 12
 CHECKBOX "Remove Redundant Nodes", IDD_OSG_REMOVE_REDUNDANT_NODES, 36, 76, 156, 12
 CHECKBOX "Strip Implicit Names", IDD_OSG_STRIP_IMPLICIT_NAMES, 36, 88, 156, 12
 PUSHBUTTON "&Reset", IDD_BUTTON_RESET, 101, 111, 50, 14
 PUSHBUTTON "&About", IDD_BUTTON_ABOUT, 156, 111, 50, 14
}

OptionsDialogOSG3 DIALOG 75, 67, 216, 130
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Instances"
FONT 8, "Helv"
{
 GROUPBOX "", -1, 10, 5, 196, 101, BS_GROUPBOX
 RADIOBUTTON "Write instances to separate files", IDD_OSG_INSTANCE_FILE_RB, 24, 16, 156, 12
 RADIOBUTTON "Share instances", IDD_OSG_INSTANCE_SHARED_RB, 24, 28, 156, 12
 RADIOBUTTON "Ignore instances", IDD_OSG_INSTANCE_IGNORE_RB, 24, 40, 156, 12

 PUSHBUTTON "&Reset", IDD_BUTTON_RESET, 101, 111, 50, 14
 PUSHBUTTON "&About", IDD_BUTTON_ABOUT, 156, 111, 50, 14
}

OptionsDialogOSG4 DIALOG 75, 67, 216, 130
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Text"
FONT 8, "Helv"
{
 GROUPBOX "", -1, 10, 5, 196, 101, BS_GROUPBOX
 RADIOBUTTON "Use osgText", IDD_OSG_TEXT_OSGTEXT_RB, 24, 16, 156, 12
 RADIOBUTTON "Convert to polygons", IDD_OSG_TEXT_POLYGONS_RB, 24, 28, 156, 12
 RADIOBUTTON "Discard text", IDD_OSG_TEXT_DISCARD_RB, 24, 40, 156, 12

 PUSHBUTTON "&Reset", IDD_BUTTON_RESET, 101, 111, 50, 14
 PUSHBUTTON "&About", IDD_BUTTON_ABOUT, 156, 111, 50, 14
}


#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version Information (to be stamped with stampver.exe in the Makefile.vc4
//
/////////////////////////////////////////////////////////////////////////////

#ifdef RC_INVOKED
#ifndef _INC_WINDOWS2
#define _INC_WINDOWS2

//#include "winres.h
#ifndef IDC_STATIC
	#include "winresrc.h"
	#define IDC_STATIC 1000
#endif //!IDC_STATIC

#endif
#endif

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif 

// Version numbers (3.0.0) are in form:
//	Major release 		(3)
//	Minor release 		(0)
//	One-off user fixes 	(0)

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 3, 0, 0, 0
 PRODUCTVERSION 3, 0, 0, 0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "Contact information: Email: info@skew-matrix.com, WEB: http://www.skew-matrix.com, Phone: 303-859-9466.\0"
            VALUE "CompanyName", "Skew Matrix Software LLC\0"
            VALUE "FileDescription", "exp_isu_osg.dll - OpenSceneGraph export converter DLL\0"
            VALUE "FileVersion", "3, 0, 0, 0\0"
            VALUE "InternalName", "exp_isu_osg.dll\0"
            VALUE "LegalCopyright", "Copyright © 2008 Skew Matrix Software LLC, All Rights Reserved\0"
            VALUE "LegalTrademarks", "NuGraf, PolyTrans, Okino\0"
            VALUE "OriginalFilename", "exp_text.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "OpenSceneGraph export converter DLL\0"
            VALUE "ProductVersion", "3, 0, 0, 0\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    // !_MAC
